body{
    font-family: 'Roboto', sans-serif;
    padding :0;
    margin:0;
    box-sizing: border-box;
    }
.div1{
    position: relative;
    overflow: hidden;
}
.cover{
        width: 100%;
        height: 800px;
    }
.div11{
    position: absolute;
    width: 100%;
    background-color:;
}
.ul1{
    width: 54%;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 40px;
    margin-right: 6%;
}
.ul1 li {
    float: right;
}
.ul1 li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 100;
    font-size: 17px;
}
.ul1 li a:hover {
    background-color: white;
    color: black;
}
.div111{
    width: 34%;
    float: left;
    margin-top: 35px;
    margin-left: 6%;
}  
.div111 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 7px 7px rgba(0, 0, 0, 0.719);
    font-size: 40px;
    font-weight: 900;
    font-family: 'Neucha',sans-serif;
} 
.div111 a:hover {
    font-size: 45px;
}
.div12{
    float: left;
    position: absolute;
    width: 100%;
    top: 200px;
}
.div121{
    float: left;
    height: px;
    width: 45%;
    margin-left: 2.5%; 
}
.div121 h1{
    color: rgb(255, 178, 36);
    font-size: 70px;
    margin: 80px 0 0 7%;
    text-shadow: 6px 6px rgba(0, 0, 0, 0.637);
    
}
.div122{
    box-sizing: border-box;
    float: right;
    background-color: rgba(0, 0, 0, 0.74);
    padding: 30px;
    width: 43%;
    margin-right: 4%; 
}
.div122 input{
    height: 35px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.096);
    border: 1px rgb(80, 80, 80) solid;
    font-size: 22px;
    color: rgb(255, 255, 255);
}
.div122 h1 {
    margin: 15px 0 0 10%;
    color: white;
    text-shadow: 6px 6px rgba(0, 0, 0, 0.637);

}
.div122 div{
    width: 40%;
    float: left;
    display: inline-block;
    color: white;
}
.div122 .left{
    padding-right: 3%;
    margin: 0 0 0 10%;
}
.div122 p{
    margin-top: 40px;
    font-size: 17px;
}
.div122 button{
    width: 85%;
    height: 55px;
    color: white;
    background-color: rgba(22, 22, 22, 0.788);
    font-size: 16px;
    margin-top: 55px;
    margin-left: 7.5%;
    margin-bottom: 25px;
    border: none;
    font-weight: 700;
    border-left: 5px solid white;
}
.div122 button:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.63);
}
.sec-1{
    background-color: rgb(22, 22, 22);
    height: 130px;
    width: 100%;
    margin-top: -4px;
}
.sec-1 .cont {
    width: 80%;
    margin: 0 auto;
    
}
.sec-1 .d1{
    float: left;
    width:25%;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 15px;
}
.sec-1 .d1 h3{
    color: rgb(255, 178, 36);
    font-weight: 100;
    margin: 10px 0 0 7%;
}
.sec-1 .d1 p{
    color: white;
    font-weight: 100;
    margin: 10px 0 0 7%;
}